.all-content{
    margin: 100px 0;
}

@media (max-width: 767px){

    .a, .b, .c, .d{
        width: 480px;
        margin:  auto ;
        border-right: solid gray 1px;
        border-left: solid gray 1px;
        border-bottom: solid gray 1px;
    }

    .a {
        height: 75px;
        border: solid gray 1px;
        margin-top: 10px;
    }



    .b{
        height: 125px;    
    }


    .c, .d {

        height: 125px;

    }



    .efgh{
        width: 480px;
        margin: auto;
    }

    .ef, .gh{
        display: grid;
        grid-template-columns: 240px 240px;
    }


    .e, .f, .g, .h{
        height: 250px;
    }

    .e, .g{
        border-right: solid gray 1px;
        border-left: solid gray 1px;
        border-bottom: solid gray 1px;

    }

    .f, .h{
        border-bottom: solid gray 1px;
        border-right: solid gray 1px;

    }



    .i{
        width: 480px;
        margin: 0px auto 10px;
        height: 80px;
        border-right: solid gray 1px;
        border-left: solid gray 1px;
        border-bottom: solid gray 1px;
    }


    .largeSize{
        display: none;
    }

}


@media (min-width: 768px){

    .a{
        width: 960px;
        height: 100px;
        margin: 10px auto 0px;
        border: solid 1px gray;
    }



    .container{

        width: 960px;
        height: 600px;
        margin: auto;
        display: grid;
        grid-template-columns: 200px 760px;
    }

    .b{
        width: 200px;
        height: 600px;
        border-left: solid gray 1px;
        border-right: solid gray 1px;
        border-bottom: solid gray 1px;

    }



    .cd{
        display: grid;
        grid-template-columns: 380px 380px;
    }

    .c, .d {
        height: 200px;
        border-right: solid gray 1px;
        border-bottom: solid gray 1px;
    }



    .efgh{

        display: grid;
        grid-template-columns: 380px 380px;


    }

    .ef{
        display: grid;
        grid-template-columns: 190px 190px;
    }

    .gh{

        display: grid;
        grid-template-columns: 190px 190px;

    }

    .e, .f, .g, .h{
        height: 250px;
        border-right: solid gray 1px;
        border-bottom: solid gray 1px;
    }



    .i{
        width: 760px;
        height: 150px;
        border-right: solid gray 1px;
        border-bottom: solid gray 1px;
    }




    .smallSize{
        display: none;
    }

    footer{
        display: flex;
        height: 100px;

    }

}


/* Start My Frame Works */

.text-center{
    text-align: center;
}



/* End My Frame Work*/


